.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 99vw;
  height: auto;
  background-color: #494949;
}

.container {
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.heading {
  font-size: 40px;
  padding: 8px;
  font-family: emoji;
  font-weight: 600;
  margin: 12px 0px -12px 0px;
  color: #dddddd;
}

.container ul {
  list-style: none;
  padding: 0;
}

.container li {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin-top: 6px;
  background-color: #e7e7e7;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 3px 13px #3b3b3b;
  color: #1a1a1a;
  font-size: 17px;
  font-weight: 700;
  font-family: Georgia, Times, "Times New Roman", serif;
}

li button {
  padding: 1px 17px;
  border: 1px solid #e7e7e7;
  background: #5d5858;
  color: #e1e1e1;
  border-radius: 7px;
  margin: -5px;
}

li button:hover {
  background-color: #ececec;
  color: rgb(71, 71, 71);
  cursor: pointer;
  box-shadow: 0px 3px 13px #3b3b3b
}
